{% autoescape off %}
Hi {{ user.display_name }},

You're receiving this email because you requested a password reset for your 
user account at {{ domain }}.

Click the link to go to the following page to create a password for your account:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %} 

If the above link does not work, copy and paste in your browser and 
login with your email: {{ user }}.

Thanks for using oursite!

The {{ domain }} team.

{% endautoescape %}