<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}




<div class="row justify-content-center align-items-center h-100">
    <div class="col-md-4">
      <h3 class="text-center font-italic">Forgot password?</h3>
      <p class="text-center font-italic">Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form class="" method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="d-block mx-auto btn btn-secondary" type="submit">Send</button>

        </form>

    </div>
</div>
  
{% endblock %}