{% load fontawesome_5 %}


<div style="display: none;" class="modal fade" id="accountModal" tabindex="-999" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          {% if request.user.is_authenticated %}
          <h5 class="text-center modal-title" id="exampleModalCenterTitle">Welcome, {{ request.user }}</h5>
          {% else %}
          <h5 class="text-center modal-title" id="exampleModalCenterTitle">Account Management</h5>
          {% endif %}
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <ul class="modal-body">
            {% if request.user.is_authenticated %}

            {% if request.user.image %}
            <img style="width: 104px; height: 104px;" class="mx-auto d-block img-thumbnail rounded-circle" src="{{ request.user.image.url }}" />
            </a>
            {% else %}
            <a href="{{ request.user.get_absolute_url }}">
              <img style="max-width: 50%;" class="mx-auto d-block img-thumbnail rounded-circle" src="https://via.placeholder.com/104" />
            </a>
            {% endif %}
            
            <ul class="list-unstyled">
              <!-- Profile -->
              <li class="nav-item">
                <a style="max-width: 50%;" 
                  class="mt-2 btn btn-dark nav-link text-light mx-auto" 
                  href="{{ request.user.get_absolute_url }}" role="button">
                  {% fa5_icon 'address-card fa-1.5x' 'fas' %} 
                  <span style="font-size: 1.2rem;">
                    Profile
                  </span>
                </a>
              </li>
              <!-- Logout -->
              <li class="nav-item">
                <a style="max-width: 50%;" 
                  class="mt-2 btn btn-dark nav-link text-light mx-auto" 
                  href="{% url 'accounts:logout' %}" role="button">
                  {% fa5_icon 'sign-out-alt fa-1.5x' 'fas' %} 
                  <span style="font-size: 1.2rem;">
                    Logout
                  </span>
                </a>
              </li>
            </ul>
              {% else %}
            <ul class="list-unstyled">
              <!-- Register -->
              <li class="nav-item">
                <a style="max-width: 50%;" 
                  class="mt-2 btn btn-dark nav-link text-light mx-auto" 
                  href="{% url 'accounts:register' %}">
                  {% fa5_icon 'user-plus fa-1.5x' 'fas' %}
                  <span style="font-size: 1.2rem;">
                    Register
                  </span>
                </a>
              </li>
              <!-- Login -->
              <li class="nav-item">
                <a style="max-width: 50%;"
                  class="mt-2 btn btn-dark nav-link text-light mx-auto"
                  href="{% url 'accounts:login' %}">
                  {% fa5_icon 'sign-in-alt fa-1.5x' 'fas' %}
                  <span style="font-size: 1.2rem;">
                    Login
                  </span>
                </a>
              </li>
            </ul>
             
              
        {% endif %}
        <p class="mt-4 text-center">Forgot password? - Click <a href="{% url 'accounts:password_reset' %}">here</a> to reset.</p>

        </div>
    </div>
  </div>