{% load fontawesome_5 %}
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
    {% if request.user.is_authenticated %}
    <a class="mt-2 dropdown-item text-dark text-center" 
      href="{{ request.user.get_absolute_url }}">
      {% fa5_icon 'address-card fa-1.5x' 'fas' %}
    </a>
    <a class="mt-2 dropdown-item text-dark text-center" 
        href="{% url 'accounts:logout' %}">
        {% fa5_icon 'sign-out-alt fa-1.5x' 'fas' %} Logout
    </a>
    {% else %}
    <a class="mt-2 dropdown-item text-dark text-center" 
      href="{% url 'accounts:register' %}">
      {% fa5_icon 'user-plus fa-1.5x' 'fas' %} Register
    </a>
    <a class="mt-2 dropdown-item text-dark text-center" 
      href="{% url 'accounts:login' %}">
      {% fa5_icon 'sign-out-alt fa-1.5x' 'fas' %} Login
    </a>
    {% endif %}
    <p class="mt-4 dropdown-item text-dark text-center">Forgot password? - <a href="{% url 'accounts:password_reset' %}">reset.</a></p>
</div>
