{% load fontawesome_5 %}

{% if request.user.is_authenticated and request.user.image %}

        <!-- <a class="btn btn-default nav-link text-dark" 
            href="#"
            data-target="#accountModal"
            data-toggle="modal"
            >  -->

<a class="btn btn-default nav-link text-dark" 
href="{% url 'accounts:profile' %}"
> 
    <img style="height: 2.3rem; width: 2.3rem;" 
        class="rounded-circle" 
        src="{{ request.user.image.url }}" />
</a>

{% elif request.user.is_authenticated and not request.user.image %}
<a class="btn btn-default nav-link text-dark" 
href="{% url 'accounts:profile' %}"
> 
    <span class="text-white">
        {% fa5_icon 'user-circle fa-2x' 'fas' %}
    </span>
</a>
{% else %}

<a class="btn btn-outline-light nav-link text-dark" 
href="{% url 'accounts:login' %}"
> 
    <span class="text-white">
        Login {% fa5_icon 'sign-in-alt fa-1x' 'fas' %} 
    </span>
</a>
{% endif %}