{% load fontawesome_5 %}

<nav class="navbar navbar-expand-lg bg-light navbar-light mb-2">
    <a class="navbar-brand" href="{% url 'jobs:job_list' %}">Masyaf</a>
    <ul class="nav ml-auto">
        <li class="nav-item">    
            <a class="btn btn-light nav-link text-dark" 
            href="#"
            data-target="#accountModal"
            data-toggle="modal"
            role="button"
            >
                {% fa5_icon 'user-circle fa-2x' 'fas' %}
            </a>
        </li>

        {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="btn btn-light nav-link text-dark"
            href="{% url 'accounts:my_jobs' %}">
                {% fa5_icon 'heart fa-2x' 'fas' %}
            </a>
        </li>
        {% endif %}
    </ul>
    
    <button class="border-0 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>        
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="text-center nav-link" href="{% url 'jobs:job_list' %}">Listings</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="text-center nav-link" href="{% url 'accounts:user_list' %}">For Hire</a>
            </li>
            {% endif %}
        {% if request.user.is_authenticated %}
        {% if request.user.is_business %}
        <li class="nav-item">
            <a class="text-center nav-link" href="{% url 'jobs:job_create' %}">Post Job</a>
        </li>
        {% endif %}
        {% endif %}
    </ul>

    </div>
</nav>

