{% load fontawesome_5 %}

{% if request.user.pk == user.pk %}
<a class="p-2 float-right btn btn-primary rounded-circle" 
  href="{% url 'accounts:experience_add' %}">
  {% fa5_icon 'plus fa-1x' 'fas' %}
</a>
{% endif %}
<h5>Experience</h5>

<div class="mt-5 row">
  <div class="col-md">
  {% if user.experience_set %}
    <ul class="list-unstyled">
    {% for e in user.experience_set.all %}
      <li class="media">
        <img class="mr-3" src="https://via.placeholder.com/64" />
        <div class="media-body">
          {% if request.user == user %}
          <a class="p-2 ml-2 btn btn-danger rounded-circle text-white float-right" 
          href="{% url 'accounts:experience_delete' e.pk %}">
            {% fa5_icon 'trash-alt fa-1x' 'fas' %}
          </a>

          <a class="p-2 btn btn-secondary rounded-circle text-white float-right" 
          href="{% url 'accounts:experience_update' e.pk %}">
            {% fa5_icon 'pen fa-1x' 'fas' %}
          </a>
          
          {% endif %}
          <h5 class="mt-0 mb-1">{{ e.company }}</h5>
          <h6 class="mt-0 mb-1">{{ e.title }}</h6>
          <h6>{{ e.start_month}} {{e.start_year }} to 
            {% if e.is_present_employeer %} Present {% else %} 
            {{ e.end_month }} {{ e.end_year }} {% endif %}</h6>
          <p class="text-muted">{{ e.location }}</p>
          <p class="mb-5">{{ e.description }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>

