{% extends "base.html" %}

{% load crispy_forms_tags %} 

{% block content %}

<div class="row h-100 mt-4 justify-content-center align-items-center">
    <div class="col-md-4">
        <h3 class="font-italic text-center mb-4">Bussiness Account Request</h3>
        <form action="{% url 'accounts:business_request' %}" method="post">{% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-block btn-primary" type="submit">
                Submit
            </button>
            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-block btn-secondary" type="submit">
                Back
            </a>
        </form>
    </div>
</div>

{% endblock %}

{% block footer %}
{{ form.media }}
{% endblock %}