{% extends "base.html" %}

{% load crispy_forms_tags %} 

{% block content %}
    <div class="h-100 mt-4 row justify-content-center align-items-center">
      <div class="col-md-8">
        <h5 class="text-left">Add Experience</h5>

        <form class="form" action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form|crispy }}
          <button class="btn btn-success" type="submit">Add</button>
        </form>
    </div>
  </div> 

{% endblock %}

{% block javascript %}
<script>
  // Show and hide ending month and year fields
  let toggled = false;

  const checkBox = document.getElementById("id_is_present_employeer");
  const endMonth = document.getElementById("div_id_end_month");
  const endYear = document.getElementById("div_id_end_year");

  checkBox.addEventListener('click', function() {
    if (!toggled) {
      toggled = true;
      endMonth.setAttribute('style', 'display: none;')
      endYear.setAttribute('style', 'display: none;')
    } else {
      toggled = false;
      endMonth.setAttribute('style', 'display: block;')
      endYear.setAttribute('style', 'display: block;')
    }
  })
  console.log(checkBox);
</script>
{% endblock %}

{% block footer %}
{{ form.media }}
{% endblock %}