{% extends "base.html" %}

{% load crispy_forms_tags %} 

{% block content %}
<div class="col">
  <h3 class="text-center">Add Experience</h3>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <form class="form" action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form|crispy }}
          <button class="btn btn-success" type="submit">Add</button>
        </form>
    </div>
  </div> 
</div>

{% endblock %}

{% block javascript %}
<script>
  console.log("hello world");
  let selection = document.getElementsByClassName("select2-selection select2-selection--single modelselect2 form-control");
  console.log(selection[0])

</script>
{% endblock %}

{% block footer %}
{{ form.media }}
{% endblock %}