{% extends "base.html"%}
{% load fontawesome_5 %}

{% block content %}

{% if request.user.pk == user.pk %}
{% if my_jobs.count > 0 %}



  <div class="h-100 row mt-4 justify-content-center align-items-center">
    <div class="col-md-8">
      <h5 class="">My Jobs</h5>
      <p class="text-muted">
        Page {{ page_obj.number }} of {{ paginator.count }} jobs
      </p>
      {% for job in my_jobs %}

      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">
            <a style="text-decoration: none; color: black;" href="{{ job.get_absolute_url }}">{{ job.headline}}</a>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ job.location }}</h6>
          <p class="card-text">${{ job.salary }} per {{ job.salary_frequency|lower }}</p>
          <p class="card-text">{{ job.description|truncatechars:240 }}</p>
          <p class="card-text">{{ job.get_post_date_days }}</p>
          {% include "jobs/partials/edit_delete_buttons.html" %}
        </div> <!--.card-body-->
      </div> <!--.card-->
      {% endfor %}

    </div>
  </div>
    
    {% else %}
    <div class="col-md-8 mb-2">
      <h3>No jobs saved.</h3>
    </div>
  </div>

  
    
{% endif %}



{% endif %}

{% endblock %}

{% block footer %}
{% include "partials/pagination.html" %}
{% endblock %}
