{% extends "base.html" %}

{% block content %}

<div class="row">
    <h2>Users</h2>
    <div class="col-md">
        <ul class="list-unstyled">
            {% for user in users %}
            <li class="media">
                {% if user.image %}
                <a href="{{ user.get_absolute_url }}">
                    <img class="mr-3" style="width:64px;height:64px;" src="{{ user.image.url }}" alt="Generic placeholder image">
                </a>
                {% else %}
                <a href="{{ user.get_absolute_url }}">
                    <img class="mr-3" style="width:64px;height:64px;" src="https://placeimg.com/640/480/any" alt="Generic placeholder image">
                </a>
                {% endif %}
                <div class="media-body">
                    <h5 class="mt-0 mb-1"><a href="{{ user.get_absolute_url }}">{{ user }}</a></h5>
                    <h5 class="mt-0 mb-1">{{ user.location_city }}, {{ user.location_state }}</h5>
                    <h5 class="mt-0 mb-1">{{ user.candidateprofile.headline }}</h5>
                    <h5 class="mt-0 mb-1">{{ user.candidateprofile.speciality }}</h5>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    

</div>

{% endblock %}
