{% extends "base.html" %}

{% load staticfiles %}
{% load fontawesome_5 %}

{% block content %}


<div class="h-100 row mt-4 justify-content-center">
    <div class="col-md-8 bg-light border rounded">
        {% include "accounts/partials/siteuser_image.html" %}
        <h4 class="">
            {{ user.first_name }} {{ user.last_name }}{% if user.is_available %} 
            <span class="badge badge-info">Hire Me!</span>
            {% endif %}
        </h4>
        <h5>{{ user.headline }}</h5>
        <h6>{{ user.location }}</h6>
   
        <hr>
        <h5 class="card-title">Summary</h5>
        <p class="text-left">{{ user.bio }}</p>
        <hr>
        {% include "accounts/partials/siteuser_contact.html" %}
        <hr>
        {% include "accounts/partials/siteuser_experience.html" %}
        <hr>
        {% include "accounts/partials/siteuser_skills.html" %}
    </div> <!--.col-md-10-->
</div> <!--.row-->


<div class="row mt-4 justify-content-center">
    <div class="col-md">
        

    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}