{% extends "base.html" %}

{% block content %}

<div class="media">
    <img src="{{ user.image.url }}" class="align-self-start mr-3" alt="...">
    <div class="media-body">
        <h1 class="text-center font-italic">"{{ user.candidateprofile.headline }}"</h1>

        <h3 class="mt-0">@{{ user.display_name }}</h3>
        <h5 class="mt-0">{{ user.first_name }} {{ user.last_name }}</h5>
        <p>Email: {{ user.email }}</p>
        <p>Phone: {{ user.phone }}</p>
    </div>
</div>




<div class="col">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h3>{{ user.first_name }} {{ user.last_name }} (@{{ user.display_name }})</h3>
            {% if request.user.image %}
            <img src="{{ user.image.url }}"/>
            {% else %}
            <img src="https://placeimg.com/640/480/any"/>
            {% endif %}

            
            <p>About Me: {{ user.bio }}</p>

            <p>Education: {{ user.candidateprofile.education }}</p>
            <p>Speciality: {{ user.candidateprofile.speciality }}</p>
            {% if request.user == user %}
            <a href="{% url 'accounts:profile_update' %}">EDIT</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}