{% extends "base.html" %}

{% block content %}

<div class="media">
    {% if user.image %}
    <img src="{{ user.image.url }}" class="align-self-start mr-3" alt="...">
    {% else %}
    <img src="https://via.placeholder.com/150" />
    {% endif %}
    <div class="media-body">
        <h1 class="text-center font-italic">"{{ user.headline }}"</h1>
        <h5 class="mt-0">{{ user.first_name }} {{ user.last_name }}</h5>
        <h5 class="mt-0">{{ user.city.name }}, {{ user.state.name }}, {{ user.country.code2 }}</h5>
        <p>Email: {{ user.email }}</p>
        <p>Phone: {{ user.phone }}</p>
        <p>About Me: {{ user.bio }}</p>
        <p>Education: {{ user.education }}</p>
        {% if request.user == user %}
        <a href="{% url 'accounts:profile_update' user.slug %}">EDIT</a>
        {% endif %}
    </div>
</div>

{% endblock %}