{% extends "base.html" %}

{% load staticfiles %}

{% load crispy_forms_tags %} 

{% block content %}

<div class="h-100 row justify-content-center align-items-center">
  <div class="col-md-8">
    {% if request.user == siteuser %}
    <h3 class="text-center">Edit Profile</h3>

        <form class="form" action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form|crispy }}
          <button class="btn btn-success" type="submit">Update</button>
        </form>

    {% else %}
    {% include "partials/not_found.html" %}
  </div>
  {% endif %}
</div>  

{% endblock %}

{% block footer %}
{{ form.media }}
{% endblock %}

