{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/siteuser_detail.css' %}">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md">
        <ul class="list-unstyled">
            {% for user in users %}
            <li style="margin-bottom: 1rem;" class="media">
                {% if user.image %}
                <a href="{{ user.get_absolute_url }}">
                    <img style="height:124px;width:124px;" src="{{ user.image.url }}" class="mr-3" alt="..." />
                </a>
                {% else %}
                <a href="{{ user.get_absolute_url }}"></a>
                    <img src="https://via.placeholder.com/150" />
                </a>
                {% endif %}
                <div class="media-body">
                    <h5 class="mt-0 mb-1">{{ user.first_name }} {{ user.last_name }}</h5>
                    <h6 class="mt-0">{{ user.location }}</h6>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>  

{% endblock %}

{% block footer %}
{% endblock %}
