<!-- Modal -->
<div class="modal fade" id="emailModal" tabindex="-999" role="dialog" aria-labelledby="emailModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="emailModalLabel">Share To</h6>
              </div>
            <div class="modal-body">
                {% include "jobs/partials/job_share_form.html" %}
            </div>
        </div>
    </div>
</div>