{% extends "base.html" %}

{% load staticfiles %}

{% load crispy_forms_tags %}

{% block head %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'jobs/css/job-form.css' %}" /> -->
{% endblock %}

{% block content %}
<div class="col">
     {% if request.user == job.user %}
    <h3 class="text-center">
        {% if request.resolver_match.url_name == 'job_update' %}
        Update Job
        {% else %}
        Add Job
        {% endif %}
    </h3>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success" type="submit">
                    Submit
                </button>
            </form>
        </div>
    </div>
    {% else %}
    <h3 class="text-center">Access Denied</h3>
    <p class="text-center">Request user does not have permission for this action.</p>
    {% endif %}
</div>

{% endblock %}



{% block footer %}
{{ form.media }}

{% endblock %}





