{% extends "base.html" %}

{% load fontawesome_5 %}

{% block content %}


<div class="h-100 row mt-4 justify-content-center">
  <div class="col-md-8">
    <h5 class="">Jobs</h5>
    <p class="text-muted">
      Page {{ page_obj.number }} of {{ paginator.count }} jobs
    </p>
  {% for job in job_list %}
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">
          {% if job.get_post_date_days == 0 %}
          <span class="mb-2 badge badge-danger">New!</span> <br />
          {% endif %}

          <a style="text-decoration: none; color: black;" href="{{ job.get_absolute_url }}">{{ job.headline}}</a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ job.location }}</h6>
        <p class="font-weight-bold card-text">
          ${{ job.low_salary }} - {{ job.high_salary }} per {{ job.high_salary_frequency|lower }}
        </p>
        <ul style="list-style: circle;">
          <li class="card-text text-muted">
            {{ job.description|truncatechars:240 }}
          </li>
        </ul>
        <p class="mt-2 card-text text-secondary">
          {% if job.get_post_date_days == 0 %} 
          Posted today <span> by {{ job.user.display_name }}</span>
          {% else %}
          Posted {{ job.get_post_date_days }} days ago by <a href="{{ job.user.get_absolute_url }}">{{ job.user.display_name }}</a>
          {% endif %}
      </p>
      </div> <!--.card-body-->
    </div> <!--.card.mb-2-->
  {% endfor %}
  {% include "partials/pagination.html" %}
  </div> <!--.col-md-8-->
</div> <!--.h-100.row.mt-4-->

{% endblock %}

{% block javascript %}
{% endblock %}