{% extends "base.html" %}

{% load fontawesome_5 %}


{% block content %}
<header>
    <div class="row mt-n2">
        <div style="color: white;
        height: 100%;
        width: 100%;
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://source.unsplash.com/featured/?{{ job.location }}, nature');"
        class="jumbotron jumbotron-fluid mr-0">
            <div class="container-fluid">
                <h1 class="display-4"><i>{{ job.location.name }}</i></h1>
                <p class="mt-n2 lead"><b>{{ job.job_title }}</b></p>
            </div>
        </div>
    </div>
</header>
<div class="row">
    <div class="col-md-4">
        <h5 class="">{{ job.headline }}</h5>
        <p class="text-muted mb-n1 mt-n2">{{ job.location.name }}, {{ job.location.region }}</p>
        <p>Company Name</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h5>Details</h5>
        <h6 class="mt-n1">Job Type</h6>
        <p>{{ job.employment_type }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h5>Description</h5>
        <p>{{ job.description }}</p>

        {% if job.job_title %}
        <p><b>{{ job.job_title }}</b></p>
        {% endif %}

        {% if job.education %}
        <p><b>{{ job.education }} Degree</b></p>
        {% endif %}

        {% if job.location %}
        <p><b>{{ job.location }}</b></p>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h5>Compensation</h5>
        <p><b>${{ job.salary|floatformat }} per {{ job.salary_frequency|lower }}</b></p>

        {% if job.benefits %}
        <p><b>Benefits: {{ job.benefits }}</b></p>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p class="text-muted">{{ job.get_post_date_days }}</p>
        <a id="like-button" 
        href="" 
        data-slug="{{ job.slug }}"
        data-action="{% if request.user in job.likes.all %}un{% endif %}like"
        style="text-decoration:none;"
        class="mx-auto">
        {% if request.user not in job.likes.all %}
            {% fa5_icon 'heart fa-2x' 'far' %}
        {% else %}
            {% fa5_icon 'heart fa-2x' 'fas' %}
        {% endif %}
        </a>
    </div>
</div>

<a href="{% url 'jobs:job_update' job.slug %}">EDIT</a>
<a href="{% url 'jobs:job_delete' job.slug %}">DELETE</a>

{{ job.likes.all }}


{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<script type="text/javascript">
    var csrftoken = Cookies.get('csrftoken');
    let likeButton = document.getElementById('like-button');

    likeButton.addEventListener("click", function(e){
        e.preventDefault();        
        let slug = this.getAttribute('data-slug');
        let action = this.getAttribute('data-action');
        let data = {
            slug,
            action,
        };
        let xhr = new XMLHttpRequest();
        xhr.open('POST', `{% url 'jobs:job_like' %}`);

        //Send the proper header information along with the request
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.setRequestHeader("X-CSRFToken", csrftoken);

        xhr.onreadystatechange = function() {
            if(xhr.readyState == 4 && xhr.status == 200) {
                    let jsonResponse = JSON.parse(xhr.responseText);
                    let previous_action = action;
                    // set action data-attribute
                    likeButton.setAttribute("data-action", (previous_action == "like" ? "unlike" : "like"))
                    // toggle heart font awesome icon based on data-action
                    likeButton.innerHTML = (previous_action == "like" ? `{% fa5_icon 'heart fa-2x' 'fas' %}` : `{% fa5_icon 'heart fa-2x' 'far' %}`)
                }
            
        };
        xhr.send(JSON.stringify(data));
    })
</script>
{% endblock %}

