{% extends "base.html" %}

{% load static %}
{% load fontawesome_5 %}

{% block header %}
{% include "jobs/partials/job_header.html" %}
{% endblock %}

{% block content %}


<a href=""
data-target="#emailModal"
data-toggle="modal"
role="button" 
style="padding: 0.5rem 0.5rem;" 
class="rounded-circle btn btn-success">
    {% fa5_icon 'envelope fa-2x' 'far' %}
</a>
<a href="{{ job.link }}"
role="button" 
style="padding: 0.5rem 0.5rem;"
target="_blank" 
class="ml-2 rounded-circle btn btn-success">
    {% fa5_icon 'link fa-2x' 'fas' %}
</a>
{% include "jobs/partials/edit_delete_buttons.html" %}




<div class="row">
    <div class="col-md-4 mt-4">
        <div class="card">
            <div class="card-body">
                <h5 class="">{{ job.headline }}</h5>
                <p class="text-muted mb-n1 mt-n2">{{ job.location.name }}, {{ job.location.region }}</p>
                <p>Company Name</p>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-body">
                <h5>Details</h5>
                <h6 class="mt-n1">Job Type</h6>
                <p>{{ job.employment_type }}</p>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-body">
                {% if job.job_title %}
                <p><b>{{ job.job_title }}</b></p>
                {% endif %}

                {% if job.education %}
                <p><b>{{ job.education }} Degree</b></p>
                {% endif %}

                {% if job.location %}
                <p><b>{{ job.location }}</b></p>
                {% endif %}
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-body">
                <h5>Compensation</h5>
                <p class="font-weight-bold card-text">
                    ${{ job.low_salary }} - {{ job.high_salary }} per {{ job.high_salary_frequency|lower }}
                </p>

                {% if job.benefits %}
                <p><b>Benefits: {{ job.benefits }}</b></p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-8 mt-4">
        <div class="card">
            <div class="card-body">
                <h5>Description</h5>
                <p>{{ job.description }}</p>
            </div>
        </div>

    </div>
</div>
<p class="mt-2 card-text text-secondary">
    {% if job.get_post_date_days == 0 %} 
    Posted today <span> by {{ job.user.display_name }}</span>. 
    {% else %}
    Posted {{ job.get_post_date_days }} days ago by <a href="{{ job.user.get_absolute_url }}">{{ job.user.display_name }}</a>.
    {% endif %}
</p>
<div class="row mt-4">
    <div class="col-md-12">
        {% include "jobs/partials/like_button.html" %}
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
{% include "jobs/partials/like.html" %}
{% include "jobs/partials/email_modal.html" %}

{% endblock %}

